#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(87, 41, 3);
}
#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar li {
    float: right;
}
#navbar li a:hover {
    background-color: rgb(131, 62, 6);
}
#active {
    background-color: rgb(168, 81, 9);
}

#tartalom {
    width: 100%;
    text-align: center;
    height: 100px;
    background-color: beige;
}
#tartalom h1 {
    position: absolute;
    top: 2cm;
    left: 20cm;
    font-family: Georgia, serif;
    font-style: italic;
    font: bold;
}
.container-fluid {
    position: absolute;
    top: 4cm;
    background-color: beige;
    height: 80%;
}
.col-lg-4 img {
    width: 400px;
    height: 450px;
    margin-left: 15cm;
}
.col-lg-8 p {
    text-align:left;
    width: 200px;
    margin-left: 10cm;
}

#footer {
    position: absolute;
    bottom: 0cm;
    width: 100%;
    height: 1cm;
    background-color: rgb(87, 41, 3);
    text-align: center;
    color: white;
}
